/* GLOBAL STYLES */

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

main#wrapper {
    min-height: calc(100vh - 220px);
}

.spinner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}