#edit-panal {
    background: #0ff;
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    font-family: monospace;
    font-weight: bold;
}

.drag-block  {
    min-width: 200px;
    width: 200px;
    height: 100px;
    margin: 2px;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 5px #000;
}
.drag-block > input {
    width: 192px;
    margin: 2px;
}

.label-block {
    padding: 5px 0 0 5px;
    background: #000;
}

.field-block {
    background: red;
    height: 65px;
}

.data-block {
    background: blue;
    height: 40px;
}