#chat-container {
    width: 300px;
    height: 400px;
    min-height: 300px;
    background: rgb(177, 177, 211);
    font-family: monospace;
    padding: 1px;
    z-index: 10;
    margin: 0 35px 82px 0;
    box-shadow: 2px 2px 5px rgb(60, 60, 60);
    border-radius: 10px;
}

#input-section {
    width: 100%;
    position: absolute;
    bottom: 8px;
    left: 0;
}

.msg {
    font-weight: bold;
    width: max-content;
    max-width: 75%;
    border: 2px blue solid;
    padding: 4px 8px;
    border-radius: 5px;
}

.space-filler {
    width: 100%;
}