:focus{
  outline: none;
}

#footer {
  height: 110px;
  width: 100%;
  background: linear-gradient(#fff, #187fe6 );
}

#header {
  height: 110px;
  background: linear-gradient(#187fe6, #fff);
}

#logo {
  display: inline-block;
  padding: 20px 12px;
  margin: 5px;
  border: 3px solid black;
  color: white;
  cursor: pointer;
  font-weight: bold;
  border-radius: 50%;
  background-color: #187fe6;
}

#loading, #notFound {
  position: fixed;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Courier New', Courier, monospace;
}

.form {
  margin: auto;
  text-align: center;
  width: 400px;
  max-width: 80%;
}

.form-label {
  font-weight: bold;
}

#qrcode {
  visibility: hidden;
}

main {
  min-height: calc(100vh - 220px);
}


.col-3{width: 80%; max-width: 400px; margin: 5px auto;}
.form-check-input { width: 10%; height: 32px; margin-left: 10px; }
.inputTag {font: 15px/24px "Lato", Arial, sans-serif; color: #333; width: 80%;  box-sizing: border-box; letter-spacing: 1px; border: 2px solid #000; border-radius: 6px; padding: 7px 14px; transition: 0.4s; background: transparent;}
.inputLabel{font-size: 15px; color: #187fe6; font-weight: bold; transition: 0.3s;}
